.wy-nav-content {
    max-width: 90%;
}
.wy-side-nav-search{
    background: Maroon;
}
nav.wy-nav-top{
    background: Maroon;
}

div.highlight {
    background: #f0f3f4
}

div.wy-nav-content a:link {
    color: #990000;
}
div.wy-nav-content a:active {
    color: #c2a3a3;
}
div.wy-nav-content  a:hover {
    color: #bf4040;
}
div.wy-nav-content  a:visited {
    color: #ac5353;
}
